@model missions_youtube_links.UI.Web.Models.error_handler_view_model

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger"> @Model.ex.messge </h1>
<h2 class="text-danger"> @Model.ex.toString()</h2>

