

bin
build/bin
build/debug
Architecture/missions_youtube_links.Modeling/obj
Architecture/missions_youtube_links.Modeling/bin
Business/missions_youtube_links.Workflows/bin
Business/missions_youtube_links.Workflows/obj
Business/missions_youtube_links.Workflows.Activities/bin
Business/missions_youtube_links.Workflows.Activities/obj
Business/missions_youtube_links.Workflows.Designers/bin
Business/missions_youtube_links.Workflows.Designers/obj
Data/missions_youtube_links.Data/obj
Data/missions_youtube_links.Data/bin
Hosts/missions_youtube_links.Hosts.Web/bin
Hosts/missions_youtube_links.Hosts.Web/obj
Presentation/missions_youtube_links.UI.Process/obj
Presentation/missions_youtube_links.UI.Process/bin
Presentation/missions_youtube_links.UI.Web/obj
Presentation/missions_youtube_links.UI.Web/bin
Services/missions_youtube_links.Services/obj
Services/missions_youtube_links.Services/bin
Services/missions_youtube_links.Services.Contracts/obj
Services/missions_youtube_links.Services.Contracts/bin
Shared/missions_youtube_links.Entities/obj
Shared/missions_youtube_links.Entities/bin
Shared/missions_youtube_links.Framework/obj
Shared/missions_youtube_links.Framework/bin
TestResults/
Tests/missions_youtube_links.Test/obj
Tests/missions_youtube_links.Test/bin





*.pbd
*.exe
*.msi
*.temp
*.cache


*log.txt
*log.log

 
 
 
 