@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>*@

<h4>
    This website lists youtube links about
    <br /><b>Healing Services</b>,
    <br /><b>Pastors Conferences</b>,
    <br /><b>Word Expos</b>,
    <br /><b>Miracles</b>,
    <br /><b>Prophecies</b>,
    <br /><b>Prophecy Fullfilment</b>,
    <br /><b>Blessings</b>,
    <br /><b>Grand Receptions</b>,
    <br /><b>Repentance Services</b>
    <br />of the Ministry of the LORD, Repentance and Holiness.
</h4>
