<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\aspnet-missions_youtube_links.UI.Web-20250425094155.mdf;Initial Catalog=aspnet-missions_youtube_links.UI.Web-20250425094155;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
  <appSettings>

    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="owin:AutomaticAppStartup" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <!--Configurations for fPeerlending.dll-->
    <!--Default accounts-->
    <add key="LOANREPAYMENTACCOUNT" value="100" />
    <add key="CASHACCOUNT" value="104" />
    <add key="COMMISSIONACCOUNT" value="105" />
    <add key="MPESACASHACCOUNT" value="106" />
    <!--Transaction Types-->
    <add key="ESTABLISHLOANTRANSACTIONTYPE" value="1" />
    <add key="LOANDRAWTRANSACTIONTYPE" value="1" />
    <add key="CASHDEPOSITTRANSACTIONTYPE" value="2" />
    <add key="CASHWITHDRAWALTRANSACTIONTYPE" value="3" />
    <add key="MPESAWITHDRAWALTRANSACTIONTYPE" value="5" />
    <add key="MPESADEPOSITTRANSACTIONTYPE" value="6" />
    <add key="COMMISSIONTRANSACTIONTYPE" value="7" />
    <add key="DISBURSELOANTRANSACTIONTYPE" value="8" />
    <add key="LOANREPAYMENTTRANSACTIONTYPE" value="9" />
    <!-- Account creation default types-->
    <add key="CURRENT_ACC_TYPE_ID" value="1" />
    <add key="LOAN_ACC_TYPE_ID" value="2" />
    <add key="INVESTMENT_ACC_TYPE_ID" value="3" />
    <!--COA Ids-->
    <add key="CURRENT_ACC_COA_ID" value="2" />
    <add key="LOAN_ACC_COA_ID" value="1" />
    <add key="INVESTMENT_ACC_COA_ID" value="1" />
    <!--Event Tracing-->
    <add key="UseInprocEventTracing" value="true" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <!--Offer Configs-->
    <add key="STOCommFreqFlag" value="PayCommissionPerOnce" />
    <add key="CHARGEWHOFLAG" value="Borrower" />
    <add key="INVITEEDOESNTEXISTACTION" value="create" />
    <add key="EnableLog" value="true" />
    <!--System Configs-->
    <add key="NUMBEROFTRANSACTIONTODISPLAYPERQUERY" value="5" />
    <add key="OFFEREXPIRYTIMESPANINMONTHS" value="1" />
    <add key="FANIKIWAREGISTEREDMEMBERSROLE" value="3" />
    <add key="NUMBEROFTRANSACTIONTODISPLAYPERQUERY" value="5" />
    <add key="OFFEREXPIRYTIMESPANINMONTHS" value="1" />
    <add key="FANIKIWAMESSAGESTELNO" value="254700277598" />
    <add key="FANIKIWATELNO" value="254715714457" />
    <add key="FANIKIWAADMIN" value="254715714457" />
    <add key="FANIKIWAEMAIL" value="fanikiwa254@gmail.com" />
    <add key="FANIKIWAAGENT" value="KISERIAN" />
    <!--send Email configs-->
    <add key="EnableSsl" value="true" />
    <add key="AddressFrom" value="fanikiwa254@gmail.com" />
    <add key="UserName" value="fanikiwa254@gmail.com" />
    <add key="Password" value="phkbommtmijgshws" />
    <add key="Host" value="smtp.gmail.com" />
    <add key="EnableSsl" value="true" />
    <add key="Port" value="587" />
    <add key="Timeout" value="5000" />
    <add key="ThreadSleep" value="1000" />
    <add key="EnableLog" value="true" />
    <add key="defaulSubject" value="Fanikiwa Message" />
    <!--statements-->
    <add key="STATEMENTMONTHS" value="2" />
    <!--Cloud-->
    <!--<add key="CloudUrl" value="http://127.0.0.1:8888/" />-->
    <add key="CloudUrl" value="http://kufanikiwa.co.ke/" />

    <add key="LOGFILENAME" value="Logs\\log.log"/>
    <add key="ERRORLOGFILENAME" value="Logs\\error.log"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="Comm_Port" value="5"/>
    <add key="Comm_BaudRate" value="460800"/>
    <add key="Comm_TimeOut" value="5000"/>
    <!--trial period days-->
    <add key="TRIAL_PERIOD" value="370"/>
    <!--no of seconds to wait till execute long running function to collect extra info-->
    <add key="COLLECT_EXTRAS_SECONDS_COUNTA" value="60"/>
    <!--maximum number of the message characters to send-->
    <add key="MAX_MSG_LENGTH" value="0"/>
    <!--number of characters to use in license key-->
    <add key="NO_OF_CHARACTERS_IN_LICENSE_KEY" value="32"/>
    <add key="APP_NAME" value="Ministry Altars App"/>

    <!--Development-->
    <add key="mssql_datasource" value=".\SQLEXPRESS"/>
    <add key="mssql_database" value="missions_links_db_2025"/>
    <add key="mssql_userid" value="sa"/>
    <add key="mssql_password" value="123456789"/>
    <add key="mssql_port" value="1433"/>

    <!--Production-->
    <!--<add key="mssql_datasource" value="missions_links_db_2025.mssql.somee.com"/>
    <add key="mssql_database" value="missions_links_db_2025"/>
    <add key="mssql_userid" value="softwareprovider_SQLLogin_1"/>
    <add key="mssql_password" value="ObraVoke@27809543"/>
    <add key="mssql_port" value="1433"/>-->

    <!--Development-->
    <add key="mysql_datasource" value="127.0.0.1"/>
    <add key="mysql_database" value="missions_links_db_2025"/>
    <add key="mysql_userid" value="sa"/>
    <add key="mysql_password" value="123456789"/>
    <add key="mysql_port" value="3306"/>

    <!--Development-->
    <!--<add key="mysql_datasource" value="127.0.0.1"/>
    <add key="mysql_database" value="missions_links_db_2025"/>
    <add key="mysql_userid" value="sa"/>
    <add key="mysql_password" value="27809543"/>
    <add key="mysql_port" value="3303"/>-->

    <!--Production-->
    <!--<add key="mysql_datasource" value="sql.freedb.tech"/>
    <add key="mysql_database" value="freedb_missions_links_db_2025"/>
    <add key="mysql_userid" value="freedb_fanikiwa"/>
    <add key="mysql_password" value="Qz$!2f5gSUERNub"/>
    <add key="mysql_port" value="3306"/>-->

    <!--Development-->
    <add key="postgresql_datasource" value="127.0.0.1"/>
    <add key="postgresql_database" value="missions_links_db_2025"/>
    <add key="postgresql_userid" value="postgres"/>
    <add key="postgresql_password" value="123456789"/>
    <add key="postgresql_port" value="5432"/>

    <!--Production-->
    <!--<add key="postgresql_datasource" value="127.0.0.1"/>
    <add key="postgresql_database" value="missions_links_db_2025"/>
    <add key="postgresql_userid" value="postgres"/>
    <add key="postgresql_password" value="123456789"/>
    <add key="postgresql_port" value="5432"/>-->

    <add key="sqlite_datasource" value="databases"/>
    <add key="sqlite_database_path" value="databases"/>
    <add key="sqlite_database" value="missions_links_db_2025"/>
    <add key="sqlite_userid" value="sa"/>
    <add key="sqlite_password" value="123456789"/>
    <add key="sqlite_port" value="0"/>
    <add key="sqlite_version" value="3"/>
    <add key="sqlite_db_extension" value="sqlite"/>
    <add key="sqlite_pooling" value="true"/>
    <add key="sqlite_fail_if_missing" value="false"/>

    <!--Development-->
    <add key="mongodb_datasource" value="127.0.0.1"/>
    <add key="mongodb_database" value="missions_links_db_2025"/>
    <add key="mongodb_userid" value="mongodb"/>
    <add key="mongodb_password" value="123456789"/>
    <add key="mongodb_port" value="27017"/>

    <!--Production-->
    <!--<add key="mongodb_datasource" value="127.0.0.1"/>
    <add key="mongodb_database" value="missions_links_db_2025"/>
    <add key="mongodb_userid" value="mongodb"/>
    <add key="mongodb_password" value="123456789"/>
    <add key="mongodb_port" value="27017"/>-->

    <add key="saveinmssql" value="true"/>
    <add key="saveinmysql" value="true"/>
    <add key="saveinsqlite" value="true"/>
    <add key="saveinpostgresql" value="true"/>
    <add key="saveinmongodb" value="true"/>

    <add key="checkdbconnections" value="true" />
    <add key="checkdbconnectioninmssql" value="true" />
    <add key="checkdbconnectioninmysql" value="true" />
    <add key="checkdbconnectioninsqlite" value="true" />
    <add key="checkdbconnectioninpostgresql" value="true" />

    <add key="update_schema_temp_db" value="missions_links_db_2025"/>

    <add key="xamp_server_path" value="C:\xampp\xampp-control.exe"/>
    <add key="nyax_console_path" value="D:\wakxpx\csharp\visualstudio\2010\nyax_console\Build\Debug\nyax_console.exe"/>
    <add key="windows_explorer_path" value="c:\windows\explorer.exe"/>

  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <authentication mode="None"/>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <!--<system.webServer>
    <modules>
      <remove name="FormsAuthentication"/>
    </modules>
  </system.webServer>-->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit"/>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit"/>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="UrlRoutingModule-4.0"/>
      <add name="UrlRoutingModule-4.0" type="System.Web.Routing.UrlRoutingModule" preCondition=""/>
      <remove name="Session"/>
      <add name="Session" type="System.Web.SessionState.SessionStateModule" preCondition=""/>
      <remove name="BundleModule"/>
      <add type="System.Web.Optimization.BundleModule" name="BundleModule"/>
    </modules>
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" culture="neutral" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" culture="neutral" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" culture="neutral" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>