@import '_variables.css';

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /*max-width: 280px;*/
}

.displaynone {
    display: none;
}

.active {
    background-color: #4cff00;
    color: black;
}

.navbar {
    margin-bottom: 1px;
}

.nav > li > a {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 10px 15px;
}

table {
    border-collapse: fixed;
    table-layout: fixed;
}

    table td {
        word-wrap: break-word;
    }

    table th {
        word-wrap: break-word;
        text-align: left;
    }

    table .btn {
        float: left;
        clear: both;
    }

btn_class {
    margin-top: 2px;
    padding: 2px;
    position: relative;
}

.btn_table {
    text-align: center;
    padding: 2px;
    margin: 2px;
}

.error_container {
    display: block;
}

.error_item {
    color: red;
}

.lbl_error {
    color: red;
    float: left;
    clear: both;
}

.form-group label {
    float: left;
    clear: both;
}

.form-group span {
    float: left;
    clear: both;
}

.form-group input {
    float: left;
    clear: both;
    width: 50%;
}

.form-group select {
    float: left;
    clear: both;
    width: 50%;
    height: auto;
}

.form-group textarea {
    float: left;
    clear: both;
    width: 50%;
    height: auto;
}

.form-group input[type="submit"] {
    float: left;
    clear: both;
    margin-top: 5px;
    width: 50%;
}

.form-group a {
    float: left;
    clear: both;
    margin-top: 5px;
    width: 50%;
}

.alert {
    margin-bottom: 5px;
    padding: 5px;
}

.div_btn {
    position: relative;
    display: block;
}

    .div_btn a {
        position: relative;
        display: block;
    }

#lblversion {
    color: limegreen;
    font-size: 15px;
    font-weight: bold;   
}

#frm_search .form-group {
    float: left;
    clear: none;
    width: 50%;
    margin-bottom: 2px;
}

#frm_search {
    border-bottom: solid 3px #000000;
}

#btn_clear_search {
    margin: 2px;
}

#btnsearch {
    margin: 2px;
}

#btn_create_record {
    margin-top: 5px;
}

#btn_delete_all_records {
    float: right;
    clear: none;
    margin-top: 5px;
}
 




@media (min-width: 768px) {

    .form-group input {
        float: left;
        clear: both;
        width: 80%;
    }

    .form-group select {
        float: left;
        clear: both;
        width: 80%;
        height: auto;
    }

    .form-group textarea {
        float: left;
        clear: both;
        width: 80%;
        height: auto;
    }

    .form-group input[type="submit"] {
        float: left;
        clear: both;
        margin-top: 5px;
        width: 80%;
    }

    .form-group a {
        float: left;
        clear: both;
        margin-top: 5px;
        width: 80%;
    }
}




@media (min-width: 1281px) {

    .form-group input {
        float: left;
        clear: both;
        width: 50%;
    }

    .form-group select {
        float: left;
        clear: both;
        width: 50%;
        height: auto;
    }

    .form-group textarea {
        float: left;
        clear: both;
        width: 50%;
        height: auto;
    }

    .form-group input[type="submit"] {
        float: left;
        clear: both;
        margin-top: 5px;
        width: 50%;
    }

    .form-group a {
        float: left;
        clear: both;
        margin-top: 5px;
        width: 50%;
    }
}























.projects {
    padding: 1rem 1rem;
    border-radius: var(--card-border-radius);
    margin: var(--section-margin);
    /* background-color: var(--section-border-color); */
    backdrop-filter: blur(10px) saturate(180%);
    -webkit-backdrop-filter: blur(10px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.2);
}

.container {
    margin: 0 auto;
    max-width: var(--container-width);
}

.navbar .container {
    margin: 0 auto;
    max-width: 1500px;
}

.projects h2 {
    font-size: 2.8rem;
    text-align: center;
    margin-bottom: --header-margin-bottom;
    color: var(--text-dark);
}

.projectGrid {
    /* The key change to make the cards stack vertically */
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.1rem;
    justify-content: center;
}

.projectCard {
    border-bottom: 1px solid var(--border-color);
    margin-bottom: var(--card-margin-bottom);
    padding: 1rem 2rem;
    background-color: var(--card-background-color);
    border-radius: var(--card-border-radius);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.06);
    border-left: none;
    word-wrap: break-word;
}

    .projectCard:hover {
        /* transform: translateY(-5px); */
        box-shadow: 0 6px 20px rgba(0, 0, 0, 0.12);
    }

.projectTitle {
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 0.75rem;
    color: var(--text-dark);
}

.projectDescription {
    font-size: var(--font-size-description);
    line-height: 1.6;
    color: black;
    margin-bottom: var(--spacing-medium);
    font-weight: bold;
}

.projectLink {
    display: inline-block;
    padding: 0.5rem 1.2rem;
    margin: 1rem;
    margin-bottom: 1rem;
    background-color: var(--primary-color);
    color: var(--text-light);
    text-decoration: none;
    border-radius: 5px;
    font-weight: 500;
    transition: background-color 0.3s ease;
    word-wrap: break-word;
    font-size: 1.2rem;
}

    .projectLink:hover {
        background-color: #0056b3;
        color: var(--text-light);
        cursor: pointer;
    }

.mission_details {
    font-size: 2rem;
    color: black;
    margin-bottom: 1rem;
    font-family: 'Times New Roman', Times, serif;
    float: none;
    clear: both;
    margin: 1.2rem;
}

.details_container {
    position: relative;
    display: block;
}











.login {
    float: left;
    clear: both;
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.1rem;
    justify-content: center;
    width: 100%;
    max-width: 700px
}

    .login div {
        border-bottom: 1px solid var(--border-color);
        margin-bottom: var(--card-margin-bottom);
        padding: 1rem 2rem;
        background-color: var(--card-background-color);
        border-radius: var(--card-border-radius);
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.06);
        border-left: none;
        word-wrap: break-word;
    }

        .login div:hover {
            /* transform: translateY(-5px); */
            box-shadow: 0 6px 20px rgba(0, 0, 0, 0.12);
        }

        .login div span {
            float: left;
            clear: none;
        }

    .login .form-group {
        width: 90%;
        float: none;
        clear: both;
    }

        .login .form-group input {
            float: left;
            clear: none;
            width: 100%;
        }

        .login .form-group span {
            float: left;
            clear: none;
            width: 20%;
            margin: 2px;
        }

        .login .form-group input[type="checkbox"] {
            padding: 1px;
            margin: 1px;
            float: left;
            clear: none;
            width: 20%;
            margin: 2px;
            z-index: 100;
            position: relative;
        }

.add_user .form-group p {
    float: left;
    clear: both;
    position: relative;
    word-wrap: break-word;
    width: 50%;
}







#div_messages {
    /* The key change to make the cards stack vertically */
    display: block;
    justify-content: center;
    float: left;
    max-width: 300px;
    position: fixed;
    left: 5px;
    top: 55px;
    bottom: 5px;
    height: auto;
    overflow-y: scroll;
    z-index: 1000;
}

.messagesCard {
    border-bottom: 1px solid var(--border-color);
    margin-bottom: var(--card-margin-bottom);
    padding: 1rem 2rem;
    background-color: #eaf1f5;
    border-radius: var(--card-border-radius);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.06);
    border-left: none;
    word-wrap: break-word;
    width: auto;
    height: auto;
}

    .messagesCard:hover {
        /* transform: translateY(-5px); */
        box-shadow: 0 6px 20px rgba(0, 0, 0, 0.12);
    }

.message_details {
    font-size: 2rem;
    color: black;
    margin-bottom: 1rem;
    font-family: 'Times New Roman', Times, serif;
    float: none;
    clear: both;
    margin: 1.2rem;
}

.details_container {
    position: relative;
    display: block;
}
